<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand"><img src="../../assets/logo.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/">Home</a>
      <a class="nav-item nav-link" href="/about">About</a>
      <a class="nav-item nav-link" href="/map">Map</a>
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_user.name %></a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% if current_user.place %>
              <a class="dropdown-item" href="/places/<%= current_user.place.id %>"><%= current_user.place.name %></a>
            <% else %>
              <a class="dropdown-item" href="/new_place">Create place</a>
            <% end %>
            <a class="dropdown-item" href="/profile">Profile</a>
            <a class="dropdown-item" href="/edit_profile">Edit profile</a>
            <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% end %>
    </div>
  </div>
</nav>

<div class="container">
  <%= render 'form', place: @place %>
  <%= link_to 'Back', profile_path %>
</div>
