<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">LuggageStorage</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/about">About</a>
      <% if user_signed_in? %>
        <a class="nav-item nav-link" href="/map">Map</a>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_user.name %></a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% if current_user.place %>
              <a class="dropdown-item" href="/places/<%= current_user.place.id %>"><%= current_user.place.name %></a>
            <% else %>
              <a class="dropdown-item" href="/new_place">Create place</a>
            <% end %>
            <a class="dropdown-item" href="/profile">Profile</a>
            <a class="dropdown-item" href="/edit_profile">Edit profile</a>
            <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% end %>
    </div>
  </div>
</nav>

<br>

<div class="container">
  <div class="row">
    <div class="col">
      <h3>Informations</h3>
      <strong>Name:</strong> <%= @place.name %><br>
      <strong>State:</strong> <%= @place.state %><br>
      <strong>City:</strong> <%= @place.city %><br>
      <strong>Address:</strong> <%= @place.address %><br>
      <strong>CAP:</strong> <%= @place.cap %><br>
      <strong>Owner:</strong> <%= @place.user.name %> <%= @place.user.surname %><br>
      <strong>Phone number:</strong> <%= @place.user.phone_number %><br>
      <strong>Email:</strong> <%= @place.user.email %><br><br>
      <% if correct_user?(@place) %>
        <%= link_to 'Edit informations', edit_place_path(@place), class: "btn btn-primary" %>
      <% end %>
    </div>
    <div class="col">
      <h3>Place Pictures</h3>
      <%= image_tag @place.avatar.url, :size => "300x300" %>
    </div>
  </div>

  <hr>
  <div class="row">
    <div class="col" align="center">
      <h3>Description</h3>
      <%= @place.description %>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col" align="center">
      <h3>Reviews</h3>
      <% @reviews.each do |review| %>
        <%= review.comment %> | <%= review.rating %>
        <br>
      <% end %>
      <br>
      <%= link_to "Write a review", new_place_review_path(@place), class: "btn btn-primary" %>
    </div>
  </div>
</div>

<hr>

