<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">LuggageStorage</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/">Home</a>
      <a class="nav-item nav-link" href="/about">About</a>
    </div>
  </div>
</nav>

<br>

<div class="container" align="center">
  <div class="row">
    <div class="col md-6 border-right">
      <h3 class="text-primary">Login</h3>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.label :email %><br/>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password %><br/>
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
          <small id="emailHelp" class="form-text text-muted">We'll never share your data with anyone else.</small>
        </div>


        <div class="actions">
          <%= f.submit "Log in", class: "btn btn-primary" %>
        </div>
      <% end %>
      <br>
      <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path, class:"btn btn-primary" %><br>
      <%# <%= render "devise/shared/links" %>
    </div>
    <div class="col md-6 border-left">
      <h3 class="text-primary">Signup</h3>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :surname %>
          <%= f.text_field :surname, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :email %><br/>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :phone_number %><br/>
          <%= f.text_field :phone_number, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br/>
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation %><br/>
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
          <small id="emailHelp" class="form-text text-muted">We'll never share your data with anyone else.</small>
        </div>

        <div class="actions">
          <%= f.submit "Sign up", class: "btn-facebook" %>
        </div>
      <% end %>


    </div>
  </div>
</div>
