<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand"><img src="../../assets/logo.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/">Home</a>
      <a class="nav-item nav-link" href="/about">About</a>
      <a class="nav-item nav-link active" href="/map">Map <span class="sr-only">(current)</span></a>
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_user.name %></a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% if current_user.place %>
              <a class="dropdown-item" href="/places/<%= current_user.place.id %>"><%= current_user.place.name %></a>
            <% else %>
              <a class="dropdown-item" href="/new_place">Create place</a>
            <% end %>
            <a class="dropdown-item" href="/profile">Profile</a>
            <a class="dropdown-item" href="/edit_profile">Edit profile</a>
            <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <a class="nav-item nav-link" href="/login">Login</a>
      <% end %>
    </div>
  </div>
</nav>

<hr>

<div class="container" align="center">
  <div class="row">
    <div class="col md-6 border-right">
      <h3>Nearest places</h3>
      <% @places.each do |i| %>
        <div class="container">
          <div class="row">
            <div class="col md-6 border-left" align="left">
              <strong>Name</strong>: <%= "#{i.name}" %><br>
              <strong>State</strong>: <%= "#{i.state}" %><br>
              <strong>City</strong>: <%= "#{i.city}" %><br>
              <strong>Address</strong>: <%= "#{i.address}" %><br>
              <strong>CAP</strong>: <%= "#{i.cap}" %><br>
              <% if i.reviews.present? %>
                <strong>Number of reviews</strong>: <%= "#{i.reviews.count}" %><br>
                <strong>Rating</strong>: <span class="star-rating" data-score="<%= "#{i.reviews.average(:rating)}" %>"></span>
              <% else %>
                <strong>No reviews yet!</strong> <% if !correct_user?(i) %>
                  <%= link_to "Write one", new_place_review_path(i)%><br>
                  <% end %>
              <% end %>
            </div>
            <div class="col md-6" align="right">
              <br>
              <p align="center"><%= link_to "Show", {:controller => 'pages', :action => 'map', :id => i.id}, class: "btn btn-primary"%>
              <p align="center"><a class="btn btn-primary" href="/places/<%="#{i.id}" %>" >Goto &raquo;</a></p>
            </div>
          </div>
        </div>
        <hr>
      <% end %>
    </div>
    <div class="col md-6 border-left">
      <h3>Where?</h3>
      <br>
      <div id="mapviewer" align="center">
        <% if @geostats == "nope" %>
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d95046.26218067014!2d12.50884296433387!3d41.88864831411424!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sit!2sit!4v1528811167517" width="540" height="540" frameborder="0" style="border:0" allowfullscreen></iframe>
        <% else %>
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2968.5776706110155!2d<%= @geostats.lng %>!3d<%= @geostats.lat %>!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sit!2sit!4v1528220322829" width="540" height="540" frameborder="0" style="border:0" allowfullscreen></iframe>
        <% end %>
      </div>
    </div>
  </div>
</div>

<hr>
