<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand"><img src="../../assets/logo.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/">Home</a>
      <a class="nav-item nav-link" href="/about">About</a>
      <a class="nav-item nav-link active" href="/map">Map <span class="sr-only">(current)</span></a>
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_user.name %></a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% if current_user.place %>
              <a class="dropdown-item" href="/places/<%= current_user.place.id %>"><%= current_user.place.name %></a>
            <% else %>
              <a class="dropdown-item" href="/new_place">Create place</a>
            <% end %>
            <a class="dropdown-item" href="/profile">Profile</a>
            <a class="dropdown-item" href="/edit_profile">Edit profile</a>
            <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <a class="nav-item nav-link" href="/login">Login</a>
      <% end %>
    </div>
  </div>
</nav>

<hr>

<div class="container" align="center">
  <div class="row">
    <div class="col md-6 border-right">
      <h3>Nearest places</h3>
      <% @places.each do |i| %>
        <div class="container">
          <div class="row">
            <div class="col md-6 border-left" align="left">
              <strong>Name</strong>: <%= "#{i.name}" %><br>
              <strong>State</strong>: <%= "#{i.state}" %><br>
              <strong>City</strong>: <%= "#{i.city}" %><br>
              <strong>Address</strong>: <%= "#{i.address}" %><br>
              <strong>CAP</strong>: <%= "#{i.cap}" %><br>
            </div>
            <div class="col md-6" align="right">
              <br>
              <p align="center"><button class="btn btn-primary" id="<%="#{i.id}" %>">Show &raquo;</button></p>
              <p align="center"><a class="btn btn-primary" href="/places/<%="#{i.id}" %>" >Goto &raquo;</a></p>
            </div>
          </div>
        </div>
        <hr>
      <% end %>
    </div>
    <div class="col md-6 border-left">
      <h3>Where?</h3>
      <br>
      <div id="mapviewer" align="center">
        <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d2498.3422200738382!2d<%= Place.find(@curr).longitude %>!3d<%= Place.find(@curr).latitude %>!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sit!2sit!4v1528041937490" width="640" height="640" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

<hr>
